@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
html {
    width: 100vw;
    height: 100vh;
    font-family: proxima-nova, sans-serif;
}

body {
    padding: 0;
    color: rgb(102, 102, 102);
}

* {
    box-sizing: border-box;
}